body {
  background-color: #d3f6d1;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1;
  color: #430f58;
}

form {
  display: flex;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

a {
  color: #430f58;
  font-weight: 500;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

.form-wrapper {
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 30px;
}

.hint {
  line-height: 1.5;
  font-size: 13px;
  opacity: 0.7;
  padding: 3px;
  margin-top: 5px;
}

.hidden {
  display: none;
}

.instructions {
  padding: 16px;
  width: 70%;
  border: 2px solid #61d2b4;
  border-radius: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #430f58;
}

.submit-button {
  margin-left: 10px;
  background-color: #61d2b4;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 14px 22px;
  font-size: 16px;
  width: 120px;
}

.recipe {
  font-size: 14px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  color: #430f58;
  line-height: 24px;
  border-left: 3px solid #61d2b4;
  border-right: 3px solid #61d2b4;
  border-top: 2px solid #61d2b4;
  border-bottom: 2px solid #61d2b4;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
